{% extends "basebase.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_extra_head %}
    <meta http-equiv="refresh" content="300"> {% endblock %}

{% block bootstrap3_content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Mafia</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="http://mafia.mit.edu">Forums </a></li>
                    <li><a href="{% url "player_intros" %}">Player Intros</a></li>
                    {% if player %}
                        <li><a href="{{ player.game.rules_url }}">Rules</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Actions
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% block actions %}
                                    {% if player.is_alive %}
                                        {% for link in player.get_links %}
                                            <li><a href="{{ link.0 }}">{{ link.1 }}</a></li>
                                        {% endfor %}
                                    {% else %}
                                        <li class="navbar-text">You're dead. You can't do anything in game. Move on with
                                            your life.
                                        </li>
                                    {% endif %}
                                {% endblock %}
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ game.rules_url }}">Rules</a></li>
                        {% if game.god == user %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">God Powers
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'advance_day' %}">Advance day</a></li>
                                    <li class="navbar-text">Evict players</li>
                                    <li class="navbar-text">End game</li>
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if player %}
                        <li class="navbar-text">Day <b>{{ player.game.current_day }}</b> of
                            <b>{{ player.game.name }}</b>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Logged
                                in as <b>{{ player.username }}</b> <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url "your_role" %}"> Your role: <b>{{ player.role.name }}</b></a></li>
                                <li><a href="{% url "logout" %}">Log out</a></li>
                            </ul>
                        </li>
                    {% elif user.username %}
                        <li class="navbar-text">Day <b>{{ game.current_day }}</b> of <b>{{ game.name }}</b>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                Logged in as <b>{{ user.username }}</b><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url "your_role" %}"> Your role: {% if user == game.god %}<b>God</b>
                                    {% else %}<b>Guest</b>{% endif %}</a></li>
                                <li><a href="{% url "logout" %}">Log out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="navbar-text">Day <b>{{ game.current_day }}</b> of <b>{{ game.name }}</b></li>
                        <li><a href="{% url 'mafia.views.login' %}">Log in</a></li>

                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        {% bootstrap_messages %}


        {% block main %} {% endblock %}
    </div>
{% endblock %}

</body>
</html>