{% extends "basebase.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_extra_head %}
    <meta http-equiv="refresh" content="180">
    <link rel="shortcut icon" href="{% static 'mafia-icon.png' %}" type="image/png"/>
{% endblock %}

{% block bootstrap3_content %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="http://mafia.mit.edu">Forums</a></li>
                    <li><a href="{% url "past_games" %}">List of Games</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_game %}
                        <li><a href="{% url "index" %}">Day <b>{{ current_game.current_day }}</b> of
                            <b>{{ current_game.name }}</b>
                        </a></li>
                    {% else %}
                        <li class="navbar-text">No Current Game</li>
                        <li><a href="{% url 'admin:login' %}">Log in as admin</a></li>
                        {% if next_game %}
                            <li><a href="{% url 'forms:sign_up' %}">Sign up for <b>{{ next_game.name }}</b></a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container" style="padding-top: 70px">
        <div class="page-header"><h1>{% block title %}(no title){% endblock %} <small>{% block subtitle %}{% endblock %}</small></h1></div>

        {% bootstrap_messages %}


        {% block main %} {% endblock %}
    </div>
{% endblock %}

</body>
</html>
