<!DOCTYPE html>
{% load staticfiles %}
<html>
<link rel="stylesheet" type="text/css" href="{% static "/static/mafia.css" %}"/>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block "title" %}Mafia {{ player.game.name }}{% endblock %}</title>
</head>
<body>
<div id="identification"><p>
    You are logged in as <b>{{ player.username }}</b> (<a href="{% url 'logout' %}">Log out</a>).
Your role is <b>{{ player.role.name }}</b>.
Today is <b>day {{ player.game.current_day }}</b> of <b>{{ player.game.name }}</b>.
</p></div>

{% block "main" %} {% endblock %}

</body>
</html>