{% extends "basebase.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_extra_head %}
    <meta http-equiv="refresh" content="180">
    <link rel="shortcut icon" href="{% static 'mafia-icon.png' %}" type="image/png"/>
    {% block mafia_extra_head %}{% endblock %}

{% endblock %}

{% block bootstrap3_content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="http://mafia.mit.edu">Forums </a></li>
                    <li><a href="{% url "player_intros" %}">Players</a></li>
                    {% if player %}
                        <li><a href="{% url "logs" %}">Game Log</a></li>
                        {% url 'rules' as rules_url %}
                        <li class="{% ifequal request.url rules_url %}active{% endifequal %}"><a href="{{ rules_url }}" target="_blank">Rules</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Actions
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% block actions %}
                                    {% if player.is_alive %}
                                        {% for link in player.get_links %}
                                            <li><a href="{{ link.0 }}">{{ link.1 }}</a></li>
                                        {% endfor %}
                                    {% else %}
                                        <li class="navbar-text">You're dead. You can't do anything in game. Move on with
                                            your life.
                                        </li>
                                    {% endif %}
                                {% endblock %}
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ game.rules_url }}">Rules</a></li>
                        {% if game.god == user %}
                            <li><a href="{% url "logs" %}">Game Log</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">God Powers
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'mafia_powers' %}">Mafia Powers</a></li>
                                    <li><a href="{% url 'advance_day' %}">Advance Day</a></li>
                                    <li><a href="{% url 'end_game' %}">End Game</a></li>
                                    <li><a href="{% url 'forms:cctv_death' %}">Notify CCTV holder</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'forms:elect' %}">Submit a petition</a></li>
                                {% for person in game.elected_people %}
                                    <li><a href="{% url 'impeach' person.0.id person.1.id %}">Impeach {{ person.0 }} as {{ person.1 }}</a></li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if player %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                Day <b>{{ player.game.current_day }}</b> of <b>{{ player.game.name }}</b><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url "past_games" %}">Game Archive</a></li>
                            </ul>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Logged
                                in as <b>{{ player.username }}</b> <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url "your_role" %}"> Your role information</a></li>
                                <li><a href="{% url "accounts:logout" %}">Log out</a></li>
                            </ul>
                        </li>
                    {% elif user.username %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                Day <b>{{ game.current_day }}</b> of <b>{{ game.name }}</b><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url "past_games" %}">Game Archive</a></li>
                            </ul>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                Logged in as <b>{{ user.username }}</b><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url "your_role" %}"> Your role: {% if user == game.god %}<b>God</b>
                                    {% else %}<b>Guest</b>{% endif %}</a></li>
                                <li><a href="{% url "accounts:logout" %}">Log out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                Day <b>{{ game.current_day }}</b> of <b>{{ game.name }}</b><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url "past_games" %}">Game Archive</a></li>
                            </ul>

                        </li>
          <li class="dropdown" id="menuLogin">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login</a>
            <div class="dropdown-menu" style="padding:17px;">
              <form class="form" id="formLogin" action="{% url 'accounts:login' %}" method="post">
                  {% csrf_token %}
                <input name="username" id="username" placeholder="Username" type="text" class="form-control">
                <input name="password" id="password" placeholder="Password" type="password" class="form-control">
                            <input type="hidden" name="next" value=""/>

                  <button type="submit" id="btnLogin" class="btn btn-primary">Login</button>

              </form>
            </div>
          </li>

                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="page-header">
            <h1>{% block title %}(no title){% endblock %} <small>{% block subtitle %}{% endblock %}</small></h1>
        </div>

        {% bootstrap_messages %}


        {% block main %} {% endblock %}
    </div>
{% endblock %}

</body>
</html>
