{% extends "base.html" %}

{% load mafia_extras %}
{% block title %}Home{% endblock %}




{% block main %}
    {% if player %}
        {% if player.investigation_set.all and player.show_investigations_on_main_page %}
            <p>
            <table class="table table-bordered">
                <tr>
                    <th colspan="5">Your investigations</th>
                </tr>
                <tr>
                    <th>Day</th>
                    <th>Death</th>
                    <th>Investigation Type</th>
                    <th>Guess</th>
                    <th>Result</th>
                </tr>
                {% for investigation in player.investigation_set.all %}
                    <tr>
                        <td>{{ investigation.day }}</td>
                        <td>{{ investigation.death.murderee.username }}</td>
                        <td>{{ investigation.type_name }}</td>
                        <td>{{ investigation.guess.username }}</td>
                        <td>{% if investigation.correct %}Guilty{% else %}Innocent{% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </table>
            </p>

        {% endif %}
        <p>
        <table class="table table-bordered">
            <tr>
                <th colspan="3">Your Lynch Vote History</th>
            </tr>
            <tr>
                <th>Day</th>
                <th>Your Vote</th>
                <th>Lynch Result</th>
            </tr>
            {% for day in player.game.current_day|get_xrange1 %}
                {% if day != player.game.current_day or player.alive %}
                    <tr>
                        <td>{{ day }}</td>
                        <td>{% if day != player.game.current_day %}{{ player|get_vote:day }}{% else %}{% if vote %}
                            {% if vote.lynchee %}Today, you voted to lynch <b>{{ vote.lynchee }}</b>{% else %}Today, you
                                voted for <b>no lynch</b> {% endif %} (<a href="{% url "forms:vote" %}">change</a>).
                        {% else %}
                            <a href="{% url 'forms:vote' %}">Click here to vote for a person to lynch.</a>
                        {% endif %}
                        {% endif %}</td>
                        <td>{% if day != player.game.current_day %}<a href="{% url 'daily_lynch' day %}">
                            {{ player.game|get_lynch:day }}</a>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}

        </table>
        </p>
    {% else %}
        <p>
        <table class="table table-bordered">
            <tr>
                <th colspan="2">Lynch History</th>
            </tr>
            <tr>
                <th>Day</th>
                <th>Lynch Result</th>
            </tr>
            {% for day in game.current_day|get_xrange1 %}
                {% if day != game.current_day %}
                    <tr>
                        <td>{{ day }}</td>
                        <td>{% if day != game.current_day %}<a href="{% url 'daily_lynch' day %}">
                            {{ game|get_lynch:day }}</a>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}

        </table>
        </p>

    {% endif %}


    <p>
    <table class="table table-bordered">
        <tr>
            <th colspan="100%">Recent Deaths (<a href="{% url 'recent_deaths' %}">view all</a>)</th>
        </tr>
        <tr>
            <th>Killed</th>
            <th>Where/How</th>
            <th>When</th>
            {% if game.god == user %}
                <th>By whom</th>
            {% endif %}
        </tr>
        {% for death in recent_deaths %}
            <tr class="{% if death.day == death.murderee.game.current_day %}danger{% endif %}">
                <td>{{ death.murderee.user.username }}</td>
                <td>{{ death.where }}</td>
                <td>{{ death.when|date:"M d, P" }} (Day {{ death.day }})</td>
                {% if game.god == user %}
                    <td>{{ death.murderer.user.username }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    </p>
    {% if investigations %}
        <p>
        <table class="table table-bordered">
            <tr>
                <th colspan="100%">Investigations</th>
            </tr>
            <tr>
                <th>Investigator</th>
                <th>Day</th>
                <th>Death</th>
                <th>Investigation Type</th>
                <th>Guess</th>
                <th>Result</th>
            </tr>
            {% for investigation in investigations %}
                <tr>
                    <td>{{ investigation.investigator.username }}</td>
                    <td>{{ investigation.day }}</td>
                    <td>{{ investigation.death.murderee.username }}</td>
                    <td>{{ investigation.type_name }}</td>
                    <td>{{ investigation.guess.username }}</td>
                    <td>{% if investigation.correct %}Guilty{% else %}Innocent{% endif %}

                    </td>
                </tr>
            {% endfor %}
        </table>
        </p>
    {% endif %}



{% endblock %}