{% extends "base.html" %}
{% block title %}Player Introductions{% endblock %}


{% block main %}

    <table class="table">
        <tr>
            <th>Player</th>
            <th>Introduction</th>
            <th>Picture</th>
            {% if game.god == user %}
                <th colspan="2">Role</th>{% endif %}

        </tr>
        {% for p in game.player_set.all %}
            <tr{% if not p.is_alive %} class="danger"{% endif %}>
                <td>{{ p.username }}{% if not p.is_alive %} (dead){% endif %}</td>
                <td width="50%">{{ p.introduction }}</td>
                <td>
                    <div style="height: 150px; width: 150px;"><img src="{{ p.photo }}"
                                                                   style="max-width: 100%;max-height: 100%"></div>
                </td>
                {% if game.god == user %}
                    <td>{{ p.role.name }}{% if p.conscripted %} (conscripted){% endif %}</td>
                    <td>{% if p.alive %}<a href="{% url 'evict_player' p.id %}" class="btn btn-default">Evict</a>
                        {% else %}<a href="{% url 'resurrect_player' p.id %}" class="btn btn-default">Resurrect</a>
                    {% endif %}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}