{% extends "base.html" %}
{% block title %}Mafia Powers{% endblock %}


{% block main %}

    <table class="table">
        <tr>
            <th>Power</th>
            <th>Header 2</th>
        </tr>
        {% for p in game.mafiapower_set.all %}
            <tr class="{{ p.get_class }}">
                <td>
                    {% if p.can_use_via_form %}
                        <a href="{% url 'forms:mafia_power' %}?power_id={{ p.id }}">{{ p.get_power_name }}</a>
                    {% else %}
                        {{ p.get_power_name }}
                    {% endif %}
                </td>
                <td>Extra information</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}