{% extends "base.html" %}
{% block title %}Mafia Powers{% endblock %}


{% block main %}

    <table class="table">
        <tr>
            <th>Power</th>
            <th>User</th>
            <th>Target</th>
            <th>Day Used</th>
            <th>Other</th>
        </tr>
        {% for p in game.mafiapower_set.all %}
            <tr class="{{ p.get_class }}">
                <td>
                    {% if p.can_use_via_form and usable %}
                        <a href="{% url 'forms:mafia_power' %}?power_id={{ p.id }}">{{ p.get_power_name }}</a>
                    {% else %}
                        {{ p.get_power_name }}
                    {% endif %}
                </td>
                <td>{{ p.user.username }}</td>
                <td>{{ p.target.username }}</td>
                <td>{% if p.day_used != None %}{{ p.day_used }}{% endif %}</td>
                <td>{{ p.extra }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}