{% extends "base2.html" %}
{% block title %}Logs - {{ game.name }}{% endblock %}


{% block main %}
    <table class="table table-bordered">
        <tr><th>Player</th><th>Role</th></tr>
        <tr>
            <td>{{ game.god }}</td>
            <td>God</td>
        </tr>
        {% for player in game.players_in_role_order %}
            <tr>
                <td>{{ player.username }}</td>
                <td>{{ player.role.name }}</td>
            </tr>
        {% endfor %}
    </table>
    <table class="table">
        <tr>
            <th>Log</th>
            <th>Time</th>
        </tr>
        {% for log in logs %}
            {% if log.2 %}
                <tr>
                    <th>{{ log.0 }}</th>
                    <th>{{ log.1 }}</th>
                </tr>

            {% else %}
                <tr>
                    <td>{{ log.0 }}</td>
                    <td>{{ log.1 }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}