{% extends "base2.html" %}
{% block title %}Game Archive{% endblock %}


{% block main %}
    <table class="table">
        <tr>
            <th>Game</th>
            <th>God</th>
        </tr>
        {% for game in games %}
            <tr>
                <td>{% if not game.archived and not game.active %}Sign up for {% endif %}<a href="


                        {% if game.archived or game.active %}{% url "old_logs" game.id %}{% else %}{% url "forms:sign_up" %}{% endif %}">
                    {{ game.name }}{% if game.active %} (current game){% endif %}</a>
                </td>
                <td>{{ game.god }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}