{% extends "base.html" %}
{% block "title" %} Recent Deaths - Mafia {{ player.game.name }} {% endblock %}


{% block "main" %}

    <table border="1">
        <tr>
            <th colspan="4">Recent Deaths</th>
        </tr>
        <tr>
        <th>Killed</th>
        <th>Where/How</th>
        <th>When</th>
        {% if god %}
            <th>By whom</th>
        {% endif %}
    </tr>
    {% for death in deaths %}
        <tr>
            <td>{{ death.murderee.user.username }}</td>
            <td>{{ death.where }}</td>
            <td>{{ death.when|date:"M d, P" }}</td>
            {% if god %}
                <td>{{ death.murderer.user.username }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock %}