{% extends "base.html" %}
{% block title %} Recent Deaths{% endblock %}


{% block main %}

    <table class="table">
        <tr>
            <th>Killed</th>
            <th>Where/How</th>
            <th>When</th>
            {% if god %}
                <th>By whom</th>
            {% endif %}
            <th colspan="2">Clues</th>
        </tr>
        {% for death in deaths %}
            <tr>
                <td>{{ death.murderee.user.username }}</td>
                <td>{{ death|locationfor:user }}</td>
                <td>{{ death.when|date:"M d, P" }}</td>
                {% if god %}
                    <td>{{ death.murderer.user.username }}</td>
                {% endif %}
                <td>
                    {% for clue_pile in player.clues_found.all %}
                        {% if clue_pile.target == death.murderee %}
                            {{ clue_pile.local_text }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                {% if death in gatherables %}
                    <a href="{% url 'collect_clues' death.id %}" class="btn btn-default">Check for Clues</a>
                {% endif %}
                {% if death in destructibles %}
                    <a href="{% url 'destroy_clue' death.id %}" class="btn btn-default">Destroy a Clue</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}