<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Your Role - Mafia</title>
</head>
<body>

You are logged in as <b>{{ username }}</b> (<a href="{% url 'logout' %}">Log out</a>). Your role is <b>{{ role.name }}</b>.

<p>
    {{ role.description }}
</p>
<p>
    {{ extra|safe }}
</p>

<p>
    {% if alive %}
        {% for link in links %}
            <a href="{{ link.0 }}">{{ link.1 }}</a><br>
        {% endfor %}
    {% else %}
        You're dead.
    {% endif %}

</p>
</body>
</html>